# =====================================
# Dependencies (Frontend + Backend)
# =====================================
**/node_modules/
node_modules
dist
dist-ssr

.gitignore

# =====================================
# Logs
# =====================================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
tree.txt

# =====================================
# Environment Variables
# =====================================
**/.env
**/.env.*

# =====================================
# Build Output
# =====================================
**/dist/
**/dist-ssr/
**/build/

# Vite Cache
**/.vite/

# =====================================
# Local Config Files
# =====================================
*.local

# =====================================
# Editor / IDE Files
# =====================================
.vscode/*
!.vscode/extensions.json
.idea

# =====================================
# OS Files
# =====================================
.DS_Store
Thumbs.db

# =====================================
# Misc Dev Files
# =====================================
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =====================================
# Testing / Coverage / Cache
# =====================================
coverage/
.cache/
.tmp/