.radio-container {
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-mark {
    height: 18px;
    width: 18px;
    background-color: white;
    border: 2px solid var(--gray-400);
    border-radius: 50%;
    margin-right: 8px;
}

.radio-container:hover input ~ .radio-mark {
    border-color: var(--primary-color);
}

.radio-container input:checked ~ .radio-mark {
    border-color: var(--primary-color);
}

.radio-mark:after {
    content: "";
    position: relative;
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--primary-color);
    top: 2px;
    left: 2px;
}

.radio-container input:checked ~ .radio-mark:after {
    display: block;
}

.radio-label {
    font-size: 14px;
    color: var(--gray-700);
}